*{
  font-family: georgia;
}

body, ul, li {
  margin: 0px;
  padding: 0px;
}

p, li, h1, h2, h3, h4 {
  color: black;
}

body {
  line-height: 0px;
  background-color: blue;
}

.cursive {
  font-family: cursive;
}

#top-stripe {
  line-height: 0px;
}

  .polka-dotted-wrapper {
    background: url("image/aepsd/background.png");
  }

.wrapper {
  background: white;
  width: 96%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2%;
}

.info-line {
  font-size: 10px;
  font-style: italic;
}

.info-line:after {
  content: "";
  display: block;
  clear: both;
}

.support {
  float: left;
}

.info-nav li{
  float: right;
  list-style-type: none;
  display: inline;
  padding: 5px;
}

.header-hr {
  margin: 0px;
}

.header-nav li {
  text-transform: uppercase;
  list-style-type: none;
  display: inline;
  padding: 15px;
}

#title section {
  float: left;
  width: 25%;
  height: 100%;
}

.second-header-logo {
  font-family: cursive;
}

#title:after {
  display: block;
  content: "";
  clear: both;
}

#header-logo-section {
  width: 50% !important;
}

.header-logo {
  background: url("image/aepsd/headerlogo.png") no-repeat;
  background-position: center;
  text-indent: -10000px;
}

#search {
  margin: 5px;
}

#header-hr-banner {
  margin-top: 10px;
  margin-bottom: 10px;
}

.banner {
  margin: 5px;
}

.selling-images ul {
  display: inline;
  float: left;
  margin: 0px;
  padding: 5px;
}

.selling-images ul li{
  list-style-type: none;
}

.selling-images:after {
  content: "";
  display: block;
  clear: both;
}

.featured-products {
  text-align: center;
}

.featured-products h4 {
  color: #538cc6;
  font-size: 25px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

#Featured {
  margin-top: 25px;
}

#Products {
  margin-bottom: 15px;
}

.selling-button-see-all {
  text-transform: uppercase;
  margin: 25px;
}

.selling-description {
  text-align: center;
  font-size: 14px;
  margin: 0px;
}

.selling-price {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

#about-us-title {
  text-transform: capitalize;
  color: #538cc6;
}

.signature {
  font-size: 20px;
  text-transform: capitalize;
  text-align: right;
}

.footer {
  background-color: #F5F2F2;
  padding: 30px;
  border-top: 1px ridge #E0E0E0;
  border-top-width: 50% thick;
}

.footer h4 {
  text-transform: capitalize;
  color: #538cc6;
  font-size: 18px;
}

.footer ul {
  float: left;
  width: 18%;
  list-style-type: none;
}

.newsletter-ul {
  margin: 0px;
  padding: 0px;
}

.footer:after {
  content: "";
  display: block;
  clear: both;
}

.footer li {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px;
}

.footer li p {
  text-transform: capitalize;
  font-size: 10px;
  color: grey;
  margin: 0px;
  padding: 0px;
}

#contactus {
  padding: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
